@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #95c5b9;
  --white: #FFF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #95c5b9;
  }
}

body {
  color: var(--white);
  background: var(--background);
}
